.vscode/
bin/
__pycache__/
.envrc
pyvenv.cfg
include/
lib/
other/PAST.mov
*.out
other/PAST上級認定証.png
other/certificate.pdf
other/mekko.py
.DS_Store
other/Atcodersheet.xlsx
python/library/data_structure/bit_max.py
# ヒューリスティック
Heuristic/*/in/
Heuristic/*/out*/
Heuristic/*/out_src/
Heuristic/*/out_first/
Heuristic/*/src/
Heuristic/*/target/
Heuristic/*/*.log
Heuristic/*/in*/*.txt
Heuristic/*/eps*/
*.lock
*.toml
seeds.txt
vis.html
# その他
作問/
Future25/
other/
